extends index.pug

block content

  .prevOrders
    a(href='/account/orders') 
      button View Previous Orders

  if session.passport
    h1 My account
    div #{first_name}
    div #{last_name}
    div #{address}
    div #{city}
    div #{state}
    div #{postal_code}
    div #{phone_number} 
    button#editAccount Edit
  else
    p Please login or register for an account

  #paymentType
    h2 Payment Types
    ol
      each type, index in paymentTypes
        li(id=index)
          #paymentType
            .provider= type.provider
            .account-number= type.account_number
            button(id=type.id).deletePaymentType Delete

    button#addPaymentType Add Payment Type

block scripts
  script(src='js/account.js')
  script(src='js/search.js')
