extends index.pug

block content
  #inventory
    h2 Inventory  
      ol#inventory
        each product, index in products
          li(id=index)
            a(href=`/products/${product.id}`) 
              .name= product.dataValues.title
            .currentInventory= product.dataValues.quantity-product.OrderProducts.length
            .numberSold= product.OrderProducts.length
            form(method='POST', action=`/inventory?_method=DELETE&id=${product.id}`)
              button(type='submit') Remove



