extends index.pug

block content
  form.product-detail(method="POST")
    h2 #{title}
    h4 #{description}
    p $#{price}
    p #{quantity} left in stock
    input(type="hidden" name="product_id" value=id)
    button#addToOrder(type="submit") Add to cart
    
block scripts
  script(src='/js/addToCart.js')
